name: Main CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # --- JOB 1: Testy (Standardowo) ---
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install --prefix app # --prefix bo package.json jest w podfolderze

  # --- JOB 2: Budowanie (Użycie Reusable Workflow) ---
  deploy-image:
    name: Call Docker Build
    needs: tests
    # Uruchom tylko na branchu main (nie na PR), bo reusable workflow robi "push: true"
    if: github.event_name == 'push' 
    
    # TU DZIEJE SIĘ MAGIA (Wymóg na 4.5):
    uses: ./.github/workflows/reusable-docker.yml
    with:
      image_name: todo-app
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}